
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    height: 450px;
    width: 450px;
}
.gridContainer>*{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.el{
    padding: 50px;
}
.not-left{
    border-left: none;
}
.not-bot{
    border-bottom: none;
}

.top{
   display: flex;
   gap: 50px;
   margin-bottom: 10px;
   padding: 40px;
}
.left, .right{
    padding: 20px;
    text-align: center;
}
.bot{
    text-align: center;
   
}
input{
    text-align: center;
}
.no-display{
    display: none;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: black;
    color: whitesmoke;
}